body {
  background-color: #191919;
}
.navbar {
  background-color: #191919;
}
.navbar-brand {
  color: #b6c78e;
}

.nav-link {
  color: #c7bcc4;
}

 #intro-txt {
 color: #a1b4d8;
 font-family: 'Open Sans', sans-serif;
 padding-top: 48%;
 }

 #about {
  color: #c7bcc4;
  font-size: 14px;
  font-weight: 100;
  line-height: 28px;
  word-spacing: 1px;
  box-sizing: border-box;
  padding: 10% 5% 5% 5%;
}

.jas {
  max-width: 100%;
  height: auto;
}

.project-image {
  height: 400px;
  -webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
}
.container-fluid {
  margin-right: auto;
  margin-top: 5%;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.project-header {
  color: #b6c78e;
  text-align: right;
  padding-right: 5%;
  padding-bottom: 5%;
}

.color-bg .weight-outline-btn {
  color: rgb(165, 30, 165);
  border-color:seagreen;
}

.color-bg .weight-outline-btn:hover {
  background:  #a1b4d8;
  color: #191919;
}

.project-text {
  padding: 20px 50px 25px 50px;
}

.project-text {
  color: #928774;
}
.contact-header {
  padding-top: 10%;
  padding-right: 10%;
  display: flex;
  color:seagreen;
}
#contact {
  display: flex;
  padding-top: 10%;
  margin: auto;
  justify-content: flex-end;
}
.contact .form-control {
  margin-bottom: 20px;
  border: 1px solid #b6c78e;
  height: 45px;
}
.contact textarea.form-control {
  height: 310px;
}
.btn-send{
  background:rgb(165, 30, 165);
  color: white;
  border-radius: 0;
  float: right;
}
.social-btn {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: #191919;
  display: inline-block;
  color:#928774;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  display: flex;
}
ul.social-buttons {
	list-style:none;
	margin:auto;
}
#socialbuttons {
  justify-content: center;
}
ul.social-buttons li {
	display:inline-block;
	margin-right:10px;
}
/* ul.social-buttons li:last-child {
	margin-right:0;
} */
.social {
  margin-top: 25px;
}